
@media screen and (min-width: 25em) {
  html {
    font-size: 112.5%;
  } /* 1rem = 18px */
}

p {
  font-size: var(--scale0);
}


.div-that-you want-to-stand-out {
  box-shadow: 0 0 1em 1em #ccc;
}
