<!-- START THE FEATURETTES -->
<div class="container">
  <h1>Our Services</h1>
  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Custom Software Development</h2>
      <p class="lead">
        Tailor-made solutions for your unique needs - our custom software brings
        your vision to life.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../../../assets/images/tiny-young-male-software-developer-writing-code.png"
        alt=""
        width="250"
        height="250"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-5 order-md-2">
      <h2 class="featurette-heading">CRM solutions</h2>
      <p class="lead">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <div class="col-md-7 order-md-1">
      <img
        src="../../../../assets/images/office-business-planning-and-developing-strategy.png"
        alt=""
        width="250"
        height="250"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Human Resource Management</h2>
      <p class="lead">
        Simplify human resource management and empower your workforce with our
        HRM software.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../../../assets/images/glare-coding-programming-languages-1.png"
        alt=""
        width="250"
        height="250"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>
